.admin-page {
  color: #fff;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline;
      margin-left: 1rem;
      a {
        color: bisque;
        text-decoration: none;
        text-transform: capitalize;
        &:hover {
          color: #fff;
        }
        &.active {
          color: #ffff;
        }
      }
    }
  }
}
