.btn {
  border: initial;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  text-align: center;
  background-color: initial;
  cursor: pointer;
  border-radius: 5px;
  &:disabled {
    background-color: silver !important;
  }
}
a.btn-orange,
button.btn-orange,
input.btn-orange {
  background-color: $orange;
  transition: all 0.3s;
  color: #fff;
  &:hover {
    background-color: lighten($orange, 10%);
  }
}
a.btn-red,
button.btn-red,
input.btn-red {
  background-color: $red;
  transition: all 0.3s;
  color: #fff;
  &:hover {
    background-color: lighten($red, 10%);
  }
}
a.btn-green,
button.btn-green,
input.btn-green {
  background-color: $green;
  transition: all 0.3s;
  color: #fff;
  &:hover {
    background-color: lighten($green, 10%);
  }
}

.divider {
  height: 64px;
  position: relative;
  background-color: bisque;
  &::after {
    content: 'Look below!';
    font-size: 24px;
    color: $orange;
    font-family: 'Italiana', serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 80%;
    width: 100%;
    top: 5%;
    border-top: 3px rgb(121, 121, 121) dashed;
    border-bottom: 3px rgb(121, 121, 121) dashed;
  }
}
