.tabs {
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  margin: 0.4rem;

  &__nav {
    height: 54px;
    display: flex;
    border-bottom: 2px $orange solid;
  }
  &__btn {
    background-color: #fff;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 0.4rem 1rem;
    border: none;
    text-transform: capitalize;
    outline: none !important;
    transition: all 0.3s;
    @include font-parameters(1.5rem, $grey, inherit, 4px, inherit);
  }
  &__btn.active {
    background-color: transparentize($orange, 0.6);
    color: #fff;
  }
  &__content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
  }
}

.user-info {
  padding: 0;
  margin: 0 2rem;
  &__item {
    color: $grey;
    margin-top: 1rem;
    padding: 0.4rem;
    border-bottom: 1px $grey dashed;
    list-style: none;
    span {
      text-transform: capitalize;
    }
  }
}
